Host web
  HostName {{WEB_HOST_IP}}
  User isucon
  IdentityFile {{SSH_PRIVATE_KEY_PATH}}
  IdentitiesOnly yes
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  LogLevel quiet
  ConnectTimeout 3
Host bench
  HostName {{BENCH_HOST_IP}}
  User isucon
  IdentityFile {{SSH_PRIVATE_KEY_PATH}}
  IdentitiesOnly yes
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  LogLevel quiet
  ConnectTimeout 3
Host perf
  HostName {{PERF_HOST_IP}}
  User isucon
  IdentityFile {{SSH_PRIVATE_KEY_PATH}}
  IdentitiesOnly yes
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  LogLevel quiet
  ConnectTimeout 3
