#
# awsコマンド用
#
export AWS_DEFAULT_REGION=ap-northeast-1
export AWS_PAGER=''

# CloudFormation(CFn)のスタック名
#
export STACK_NAME=private-isu

# ssh コマンド用
#
export SSH_PRIVATE_KEY_PATH=$HOME/.ssh/id_rsa.pub
export SSH_CONFIG_FILE=$PWD/.ssh/config
#
# rsyncコマンド用
#
# rsyncが使うリモートシェルを指定（-e/--rshオプションの環境変数版）
# デフォルトのsshに設定ファイルオプションを追加
export RSYNC_RSH="ssh -F $SSH_CONFIG_FILE"

# .envrc.overrideがあれば読み込む
source_env_if_exists .envrc.override
