#
# awsコマンド用
#
export AWS_DEFAULT_REGION=ap-northeast-1
export AWS_PAGER=''

# CloudFormation(CFn)のスタック名
#
export STACK_NAME=private-isu

# ssh コマンド用
#
export SSH_PRIVATE_KEY_PATH=$HOME/.ssh/id_rsa.pub
export SSH_CONFIG_FILE=$PWD/.ssh/config

# .envrc.overrideがあれば読み込む
source_env_if_exists .envrc.override

